* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.main-div {
  width: 100%;
  background-color: black;
}
.main-nav {
  background-color: black;
}
.nav {
  display: flex;
  margin-left: 3%;
  justify-content: space-between;
  align-items: center;
  padding: 1.5%;
}
.logo {
  width: 8%;
}
.logo > img {
  width: 100%;
}
.links {
  color: #f5f5f5;
  margin-left: 15%;
}
.links > ul {
  display: flex;
}
li {
  list-style: none;
  padding-left: 20px;
  font-weight: bold;
}
.lists > a {
  color: white;
  text-decoration: none;
}
.input {
  margin-left: 5%;
  width: 20%;
  display: flex;
  position: relative;
}
#searchbar {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2em;
  border: none;
  color: #000;
  width: 90%;
  border-radius: 2em;
  height: 6vh;
  padding: 3%;
  padding-left: 12%;
  box-sizing: border-box;
}
.input > img {
  position: absolute;
  width: 8%;
  top: 8px;
  left: 3px;
}
#shop {
  display: flex;
}
.down-arrow {
  color: #f5f5f5;
  width: 20px;
  height: 20px;
  margin-left: 5%;
}

#more {
  display: flex;
}
.dash {
  display: inline-block;
  border-left: 2px solid #ff0000;
  line-height: 1.5;
  height: 20px;
  vertical-align: middle;
  margin-left: 10px;
}
.icons {
  display: flex;
  width: 10%;
}
.icons > img {
  width: 30%;
  padding-left: 10%;
}
#cart {
  position: relative;
}
.cart-item {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ff0000;
  color: white;
  text-align: center;
  border-radius: 50%;
  font-size: small;
  right: 25px;
  top: 25px;
}
/* slider css */
.slider {
  width: 100%;
  height: 50rem;
  margin: 0;
  position: relative;

  overflow: hidden;
}
.slide {
  position: absolute;
  top: 0;
  width: 100%;

  transition: transform 1s;
}

#left-arrow {
  position: absolute;
  width: 60px;
  z-index: 1;
  top: 200px;
  left: 20px;
}
#right-arrow {
  position: absolute;
  width: 60px;
  z-index: 1;
  top: 200px;
  right: 20px;
}
.container {
  width: 100%;
  /* margin-left: 5%;
  margin-right: 5%; */
  overflow-x: hidden;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  position: relative;
  flex-direction: column;
  margin-top: 2%;
}
.small-container {
  width: 80%;
  position: relative;
  display: flex;
  justify-content: left;
  overflow-x: auto;
}
.left-arrow-red {
  position: absolute;
  width: 50px;
  z-index: 1;
  left: 80px;
  top: 150px;
}
.right-arrow-red {
  position: absolute;
  width: 50px;
  z-index: 1;
  top: 150px;
  right: 80px;
}

.small-container::-webkit-scrollbar {
  visibility: hidden;
}
.box {
  min-width: 32.5%;
  background-color: #a9a9a9;
  position: relative;
  display: flex;
  flex-direction: column;
  /* height: 300px; */
  margin-right: 1%;
  border-radius: 10px;
  overflow: hidden;
  height: 70vh;
  transition: 1s;
}
.box > img {
  width: 100%;
  height: 60%;
  object-fit: fill;
}
.content {
  background-color: #e6e6fa;
}
.title {
  color: black;
  font-weight: bold;
  font-size: small;
  margin-top: 5%;
}
.price {
  color: #e53d3d;
  font-weight: bolder;
  font-size: small;
  margin-top: 2%;
}
.content {
  padding-left: 2%;
  padding-bottom: 5%;
  height: 40%;
}
.product-list li::before {
  content: "\2022";
  color: #e53d3d;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.product-list {
  margin-top: 3%;
}
.product-list > li {
  color: #808080;
  font-size: smaller;
  font-weight: lighter;
  margin-top: 1%;
  margin-bottom: 1%;
}
.cart-btn {
  width: 100px;
  height: 30px;
  background-color: #000;
  padding: 5px;
  color: white;
  margin-top: 2%;
  border: none;
  border-radius: 20px;
  margin-left: 2%;
}
#heading-1 {
  color: white;
  margin-bottom: 2%;
}
.box-3 > img {
  height: 100%;
  object-fit: cover;
}
.box-4 > img {
  object-fit: contain;
}
.outerbox {
  width: 90%;
  background-color: #606060;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3%;
  margin-top: 3%;
  box-sizing: border-box;
}
.inner-head {
  color: white;
  margin: 2%;
}
.innerbox {
  width: 100%;
  background-color: #e6e6fa;
  display: flex;
  position: relative;
}
.shop-now-btn {
  background-color: #ff0000;
  color: white;
  border-radius: 15px;
  border: none;
  padding: 5px 25px;
  font-weight: bold;
  width: 150px;
  margin-top: 3%;
}
.inner-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.in-img > img {
  border-radius: 50%;
  width: 100%;
  transition: 5s;
}
.in-img {
  width: 60%;
  transition: 1s;
  padding: 5%;
}
.inner-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-right: 5%;
}
.inner-right-head {
  font-weight: bolder;
  padding-bottom: 2%;
  transition: 0.5s;
}
.inner-right-content {
  color: #231f20;
  padding-top: 2%;
  line-height: 150%;
  transition: 0.5s;
}
#left-arrow-red5 {
  left: 0;
  top: 120px;
}
#right-arrow-red5 {
  right: 0;
  top: 120px;
}
/* more dropdown css */
.morelists {
  font-size: small;
  font-weight: lighter;
  color: white;
  padding: 5px;
  list-style: none !important;
}
