body{
    margin-top: none;
    background-color: rgba(0, 0, 0, 0.966);

}
.section--text-text-center{
    border: 1px solid red;
    color: blanchedalmond;
}
.section--text-text-center>h2 p{
    text-align: center;
}
#offers-banner{
    width: 100%;
    border: 1px solid red;
    margin-top: none;
}
#offers-banner img{
    width: 100%;
}

#first-footer{
    display: flex;
    color: white;
    border: 1px solid black;
    background-color: black;
    justify-content: space-between;

}
  #first-footer div{
      /* border: 1px solid red; */
      margin: 10px;
      text-align: center;
  }
 
#footer-2{
    display: block;
    border: 1px solid black;
    background-color: #2c2c2c;
    padding: 20px 20px;
}
#footer-3{
    background-color: black;
    border: 1px solid red;

}
#headlines{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   border: 1px solid green;
}
#headlines div{
    color: white;
}
#input-footer{
    margin-top: 40px;
}
#f-cont{
    border: 1px solid orange;
    margin-left: 520px;
}
table{
    color: white;
    font-family: cursive;
    text-align: center;
    padding: 10px;
    

}
tr{
    row-gap: 30%;
    margin: 10px;
}
td{
    margin: 30px;
}
a{
    text-decoration: none;
    color:gainsboro;
}
#built{
    display: flex;
    border: 1px solid green;
    color: white;
    margin:220px;
    margin-top: none;
    
}
#built > div{
    margin: auto;
}
p{
    font-weight: 500;
}
.box{
    /* height: 20px; */
    width: 100px;
    /* border: 10px solid yellowgreen; */
}
.box2{
    width: 100px;
}
#size{
    padding: 10px;
    border-radius: 10px;
}
#size2{
    padding: 10px;
    border-radius: 10px;
}
.copyright{
    text-align: center;
    font-size: 12px;
}
.icons{
   display: flex;
   border: 1px solid orangered;
   margin-top: 200px;
}
.icons>div{
    margin: 8px;
}


